body {
    margin: 0px;
}
nav{
    background-color: purple;
}
ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0px;
    max-width: 800px;
    margin: 0px auto;
}
ul li {
    padding: 12px;
}
li a {
    color: papayawhip;
    text-decoration: none;
    font-family: sans-serif;
}
#home {
    margin-right: auto;
}

@media screen and (max-width: 768px) {
    ul {
        flex-direction: column;
    }
}
