#grid_container {
    background-image: url("../images/pawel-czerwinski-ruJm3dBXCqw-unsplash.jpg");
}

#grid_container {
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    grid-template-areas:
        ". header_area ."
        ". main_area .";
}
header {
    grid-area: header_area;
}
main {
    grid-area: main_area;
}

body {
    background-color: #fafafa;
}
form {
    background-color: white;
    border: 2px solid salmon;
    padding: 36px;
    box-shadow: 4px 4px 8px 0px lightskyblue;
    background-image: url("../images/amit-lahav-LU_fCezP9-o-unsplash.jpg");
    background-size: cover;
}

.border {
    border: 2px solid sandybrown;
    color: black;
    margin: 48px 24px 24px;
    padding: 12px 12px 24px;
    box-shadow: 4px 4px 8px 0px rgb(192, 129, 192);
    background:linear-gradient(#ffffff77,#ffffff77),url("../images/karsten-winegeart-PL5FZkW0Qkk-unsplash.jpg");
    background-size: cover;
}

input[type=submit] {
    background: linear-gradient(to bottom, skyblue, teal);
    border: 0px;
    border-radius: 8px;
    padding: 12px 48px;
    cursor: pointer;
}
input[type=submit]:hover {
    opacity: 0.9;
}
input[type=submit]:active {
    background: linear-gradient(to top, skyblue, teal);
}

#help_you_id {
    border: 2px solid plum;
    padding: 2%;
    width: 100%;
    
}

#name_id {
    border: 2px solid orange;
    padding: 2%;
    width: 100%;
    box-sizing: border-box;
}

#name_id:invalid {
    background-color: lightcoral;
    border-bottom: 4px solid red;
}

input[type=email]:invalid {
    background-color: lightcoral;
    border-bottom: 4px solid red;
}

#email_id {
    border: 2px solid teal;
    padding: 2%;
    width: 100%;
    box-sizing: border-box;
}

#code_massage_id {
    border: 2px solid rgb(0, 208, 255);
    padding: 8%;
    width: 100%;
    box-sizing: border-box;
}


