#my_grid {
    display: grid;
    grid-template-columns: ;
}
.block {
    padding: 20px;
}
.block_1 {
    background-color: red;
}
.block_2 {
    background-color: pink;
}
.block_3 {
    background-color: aqua;
}
.block_4 {
    background-color: purple;
}
.block_5 {
    background-color: green;
}
.block_6 {
    background-color: lightgray;
}
.block_7 {
    background-color: lightblue;
}