table {
    border-collapse: collapse;
}

th, td {
    padding: 12px;
}

tr {
    border-bottom: 1px solid blue;
}

thead tr {
    background-color: plum;
}

tbody tr:nth-child(even) {
    background-color: lemonchiffon;
}