.italic {
    font-style: italic;
}
.bold {
    font-weight: bold;
}

.card {
    margin: 24px;
    border: 1px solid grey;
    padding: 16px;
    border-left: 10px solid orange;
}

.image_container {
    width: 250px;
}

.image_container img {
    width: 90%;
}

.right {
    float: right;
}

.left {
    float: left;
}






