@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@700&family=Inria+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
#hero {
    background-image: url("../images/hulu-bg.jpeg");
}
h6 {
    color: white;
    text-align: center;
}
h2 {
    color: white;
    text-align: center;
}
input[type=submit] {
    background: linear-gradient(to bottom,rgb(78, 244, 78),rgb(78, 244, 78));
    border: 0px;
    border-radius: 8px;
    padding: 12px 48px;
    cursor: pointer;
}


